$primary: #92b46b;
$dark: #60606000;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
.hero-text{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
}
selector {
    text-shadow: horizontal-offset vertical-offset blur-radius shadow-color;
}
.shadow-text {
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 1.0);
}
.arrow-link {
    position: absolute;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 50%;
}
.arrow-link img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    filter: invert(1);
}
body {
    font-family: 'Tektur', sans-serif;
}
.text-md{
    font-size: .75rem;
}
.text-lg {
    font-size: 1.0rem;
}
.text-xl{
    font-size: 2rem;
}
.text-xxl{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .text-md{
        font-size: 1.15rem;
    }
    .text-lg {
        font-size: 2.0rem;
    }
    .text-xl{
        font-size: 3rem;
    }
    .text-xxl{
        font-size: 5rem;
        font-weight: bold;
    }
}
.page-bg{
    background-image: url(/images/bodybg.jpg);
}
.hero-bg{
    background-image: url(/images/lake-moomaw-overhang.jpg);
    background-size: cover;
    background-position: center center;
    alt: "An image of my favorite place";
}
.btn-custom{
    font-weight: 1000;
}
.btn-custom:hover{
    background-color: white;
}
