$primary: #92b46b;
$dark: #60606000;


@import "../node_modules/bootstrap/scss/bootstrap.scss";
.navbar-space {
    height: 80px;
}
.personal-img{
    width: 35%;
    padding-bottom: 50px;
}
.card-bg{
    background-image: url(/images/bodybg.jpg);
}
.btn-custom{
    font-weight: 1000;
}
.btn-custom:hover{
    background-color: white;
}



