$primary: #92b46b;
$dark: #60606000;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

#body{
    margin-top: 60px;
}
#coverbg{
    background-image: url('/images/bodybg.jpg');
}
#mypic{
    width: 30%;
    padding-bottom: 50px;
}
#phead{
    font-weight: 600;
    color: white;
}
#cardhead{
    font-weight: 1000;
}
#btnprops{
    font-weight: 1000;
}
#btnprops:hover{
    background-color: white;
}
#mywork{
    font-weight: 1000;
}
#aboutme{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 1000;
    color: #9ed361;
}
#contactme{
    font-weight: 1000;
}
#cardbg {
    background-image: url('/images/bodybg.jpg');
    margin-bottom: 50px;
  }
#cardbody{
    font-weight: 500;
}
